<h1 class="TodoPage-title">My TODO List</h1>
<article>
  <section class="AddTodo">
    <input class="AddTodo-text" type="text" placeholder="What's next?" />
    <input class="AddTodo-date" type="date" />
    <input class="AddTodo-button" type="submit" value="Add" />
  </section>

  <%= render partial: 'todo-section', locals: { section_title: "Overdue", todos: Todo.overdue, show_due_date: true } %>
  <%= render partial: 'todo-section', locals: { section_title: "Due Today", todos: Todo.due_today, show_due_date: false } %>
  <%= render partial: 'todo-section', locals: { section_title: "Due Later", todos: Todo.due_later, show_due_date: false } %>
  <%# <section class="TodoSection">
    <h2 class="TodoSection-title">
      <p class="TodoSection-title-text">Due tomorrow</p>
      <p class="TodoSection-title-remcount">0/3</p>
    </h2>
    <ul class="TodoList">
      <li class="TodoItem">
        <label class="TodoItem-container">
          <input type="checkbox" class="TodoItem-checkbox" />
          Complete WD 401
          <img src="./delete.png" class="TodoItem-delete" alt="Delete" width="18">
        </label>
      </li>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <input type="checkbox" class="TodoItem-checkbox" />
          Start with WD 402
          <img src="./delete.png" class="TodoItem-delete" alt="Delete" width="18">
        </label>
      </li>
    </ul>
  </section>

  <section class="TodoSection">
    <h2 class="TodoSection-title">
      <p class="TodoSection-title-text">Remaining</p>
      <p class="TodoSection-title-remcount">0/3</p>
    </h2>
    <ul class="TodoList">
      <li class="TodoItem">
        <label class="TodoItem-container">
          <input type="checkbox" class="TodoItem-checkbox" />
          Complete WD 501
          <img src="./delete.png" class="TodoItem-delete" alt="Delete" width="18">
        </label>
      </li>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <input type="checkbox" class="TodoItem-checkbox" />
          Complete WD 602
          <img src="./delete.png" class="TodoItem-delete" alt="Delete" width="18">
        </label>
      </li>
    </ul>
  </section> %>
</article>